<!-- Cards -->
<div>
    <div *ngIf="isAuthenticated()" class="text-right" style="margin-bottom: 3%" data-target="#proyecto" data-toggle="modal"
         (click)="onAgregarClicked()">
        <button mat-button class="btn btn-info mt-4">
            Agregar
            <mat-icon>add</mat-icon>
        </button>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="30px grid">
        <div fxFlex.md="33%" fxFlex.lg="33%" fxFlex.xl="33%" fxFlex.sm="100%" *ngFor="let proyecto of proyectos">
            <mat-card class="overflow-hidden">
                <div>
                    <img src="assets/images/header.jpeg" height="120" class="w-100" style="object-fit: cover" alt="">
                </div>
                <mat-card-content>
                    <div>
                        <p class="fs-18 lh-lg fw-medium">
                            {{proyecto.titulo.toUpperCase()}}
                        </p>
                        <p class="op-7">
                            {{proyecto.descripcion}}
                        </p>
                        <p>
                            <i-feather name="info"></i-feather>
                            {{proyecto.estado ? 'Abierto' : 'Cerrado'}}
                        </p>
                        <div class="d-flex justify-content-end">
                            <button *ngIf="isAuthenticated()" (click)="deleteproyecto(proyecto.id)" mat-button
                                    class="btn btn-info mt-4" style="margin-right: 5%">
                                Eliminar
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>

<div class="modal modal-angular fade" id="proyecto" role="dialog" tabindex="-1" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="mb-32">Agregar proyecto</h4>
                        <form #formAdd="ngForm" [formGroup]="formGroup" (ngSubmit)="onSubmit()" novalidate>
                            <mat-form-field class="w-100 fs-16" appearance="outline">
                                <mat-label>Titulo</mat-label>
                                <input matInput type="text" formControlName="titulo" name="titulo">
                                <mat-error *ngIf="formGroup.get('titulo')!.hasError('required')">
                                    Campo obligatorio
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-100 fs-16" appearance="outline">
                                <mat-label>Descripción</mat-label>
                                <textarea matInput type="text" formControlName="descripcion"
                                          name="descripcion"></textarea>
                                <mat-error *ngIf="formGroup.get('descripcion')!.hasError('required')">
                                    Campo obligatorio
                                </mat-error>
                            </mat-form-field>
                            <mat-checkbox color="warn" id="estado" class="estado" formControlName="estado">Abierto para inscripción</mat-checkbox>
                            <div class="text-right">
                                <button mat-button class="btn btn-info fw-normal" type="submit">Ok</button>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


